@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&family=Readex+Pro:wght@160..700&family=Reem+Kufi+Fun:wght@400..700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Marhey', sans-serif !important;
}

body{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(images/back4.jpg) no-repeat; 
  background-size: cover;
  background-position: center;
}
header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 100px;
    
display: flex;
justify-content: right;
align-items: center;
z-index: 99;
}


section {
  padding: 100px 1px  1px  700px
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items:center;
  text-align: right;
  
}

.main h2 {
  color: #fff;
  font-size: 1.8em;
  font-weight:300;
}

.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #a37857;
  font-size: 2em;
  font-weight: 500;
}

.main h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-btn {
  color: #fff;
  background-color:#996d4c;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}

.main-btn:hover {
  background-color:#926747;
  transform: scale(1.1);
}






.navigation a {

  position: relative;
  font-size: 1.1cm;
  color: #fff;
  text-decoration:none;
  font-weight: 300;
  margin-left: 40px;


}

.navigation ::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: right;

  transform: scaleX(1);
}



.navigation .btnLogin-popup{
  width: 130px;
height: 50px;
background:transparent;
border: 2px solid #926747;
outline: none;
border-radius: 6px;
cursor: pointer;
font-size: 1.1em;
color: #fff;
font-weight: 300;
margin-left: 40px;
transition: .5s;
}

.navigation .btnLogin-popup:hover {
  background: #926747; 
  color: #fff;
}






