/* استيراد الخطوط من Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300;400;500;600;700&display=swap');

/* إعدادات عامة */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Tajawal", sans-serif;
    direction: rtl;
}

::selection {
    background-color: #926747;
    color: #bcac9e;
}

header {
    background-color:#926747;
    color:#000;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px 20px;
}

header h1 {
    font-weight: 900;
}

.titleCard {
    font-weight: 800;
    border: 1px solid;
    padding: 20px;
    border-radius: 20px;
}

.card.layoutCard {

    background-color:beige;
    transition: .3s ease-in-out;
}


.card.layoutCard a {
    transition: .3s;
}

.card.layoutCard a:hover {
    transform: scale(1.1);
}

.card-text {
    height: 120px;
}




.row {
    padding: 15px;
    overflow: hidden;
    ;
}

h3 {
    
    color:#fff;
    font-weight: 800;
    text-align: center;
   
}

